<mat-toolbar class="app-navbar" color="primary">
    <div class="left" fxLayout="row" fxLayoutAlign="start center">
        <img src="assets/logo2.png" alt="Logo" class="logo" />
    </div>

    <div class="search">
        <mat-form-field appearance="outline" class="search-field">
            <input matInput placeholder="Search...">
            <button mat-icon-button matSuffix aria-label="Search">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div class="right" fxLayout="row" fxLayoutAlign="end center">
        <button *ngIf="!hasSignedIn()" mat-raised-button routerLink="/login">
            Log in
        </button>

        <button *ngIf="hasSignedIn()" mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="User menu">
            <mat-icon class="avatar-icon">account_circle</mat-icon>
        </button>

        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="logout()">Log Out</button>
        </mat-menu>
    </div>
</mat-toolbar>