<mat-card elevation="5" fxFlex class="content">

    <mat-card-title>
        <h2>{{title}}</h2>
    </mat-card-title>

    <mat-card-content>
        <p *ngIf="notification" [class]="notification.msgType">{{notification.msgBody}}</p>
                <form (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form">
                        <div class="group">
                            <mat-form-field appearance="outline">
                                <label>Username</label>
                                <input formControlName="username" matInput required>
                                <mat-error *ngIf="form.get('username')?.hasError('required')">Username is required</mat-error>
                                <mat-error *ngIf="form.get('username')?.hasError('minlength')">Username must be at least 3 characters</mat-error>
                                <mat-error *ngIf="form.get('username')?.hasError('maxlength')">Username cannot exceed 64 characters</mat-error>
                                <mat-error *ngIf="form.get('username')?.hasError('exists')">Username already exists</mat-error>
                            </mat-form-field>
                            <div formGroupName="address" class="address-row">
                                <mat-form-field appearance="outline">
                                    <label>Street</label>
                                    <input formControlName="street" matInput>
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <label>City</label>
                                    <input formControlName="city" matInput>
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <label>Country</label>
                                    <input formControlName="country" matInput>
                                </mat-form-field>
                            </div>
                            <mat-form-field appearance="outline">
                                <label>First Name</label>
                                <input formControlName="firstname" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <label>Last Name</label>
                                <input formControlName="lastname" matInput>
                            </mat-form-field>
                        </div>

                        <div class="bottom-group">
                            <mat-form-field appearance="outline">
                                <label>Email</label>
                                <input formControlName="email" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <label>Password</label>
                                <input formControlName="password" matInput required type="password">
                                <mat-error *ngIf="form.get('password')?.hasError('required')">Password is required</mat-error>
                                <mat-error *ngIf="form.get('password')?.hasError('minlength')">Password must be at least 3 characters</mat-error>
                                <mat-error *ngIf="form.get('password')?.hasError('maxlength')">Password cannot exceed 32 characters</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <label>Confirm Password</label>
                                <input formControlName="confirmPassword" matInput required type="password">
                            </mat-form-field>
                            <p *ngIf="form.hasError('mismatch')" class="error">Passwords must match</p>
                        </div>

                        <button [disabled]="!form.valid || form.hasError('mismatch')" color="primary" mat-raised-button type="submit">Sign up</button>
                        <br>
                        <button color="primary" mat-raised-button routerLink="/" >Go Back</button>
                </form>
        <br>
        <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
        <br>
        <hr>
    </mat-card-content>
    
</mat-card>